
/* @FONT-FACE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
  }
}

@include font-face("spaincar", 'fonts/spaincar');

[class^="ico-"]::before, [class*=" ico-"]::before {
  font-family: "spaincar";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  vertical-align: baseline;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icos size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ico-todoterreno::before { content: '\e80c'; }
.ico-turismos::before { content: '\e80d'; }
.ico-alta_gama::before { content: '\e800'; }
.ico-electricos::before { content: '\e802'; }
.ico-furgonetas::before { content: '\e804'; }
.ico-monovolumen::before { content: '\e806'; }
.ico-renting::before { content: '\e80a'; }
.ico-carsharing::before { content: '\e801'; }

.ico-ocupantes::before { content: '\e807'; }
.ico-puertas::before { content: '\e809'; }


.ico-precio::before { content: '\e808'; }
.ico-tiempo::before { content: '\e80b'; }

.ico-facebook::before { content: '\e803'; }
.ico-twitter::before { content: '\e80e'; }
.ico-youtube::before { content: '\e80f'; }
.ico-linkedin::before { content: '\e805'; }

