// Documento

$content-width: 120rem;

// Tipografia

$font-family:	helvetica, arial, sans-serif;

$font-size: 	1.4rem;
$line-height: 	1.5;


// Colores

$brand-color: 			#ff7f00;
$brand-color-light:	#ff9f3f;
//$brand-color-dark:	#5b8503;

$brand-color-secondary: 			#147de7;
$brand-color-secondary-light:		#4594ea;
//$brand-color-secondary-dark:		#036890;

//$brand-color-terciary: 	#004f5b;

$gray-dark:  	#474747; 
$gray:  	 	#3b3b3b; //Titulos
$gray-light: 	#686868; //Body copy
$gray-lighter:  #fafafa;

$border-color: 	#dddddd;

