/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

*, 
*::before, 
*::after {
	box-sizing: border-box;
}

.wrapper{ 
	width: 90%; 
	max-width: $content-width;
	margin: 0 auto;
}



.column { 
	float: left;
	padding: 1rem;
	&.column__full { width: 100%; }
	&.column__half { width: 50%; }
	&.column__third { width: 33.3%; }
	&.column__fourth { width: 25%; }
	&.column__two-thirds { width: 66.6%; }
	&.column__three-fourth {width: 75%; }		
	&.flow-opposite { float: right; }   
	
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}
 
.clearfix::after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}


/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
	.column{
		float: none;

		&.column__half, 
		&.column__third, 
		&.column__fouth, 
		&.column__two-thirds, 
		&.column__three-fourth {
			width: 100%;
		} 		
	}

}


