
/* Enlaces
–––––––––––––––––––––––––––––––––––––––––––––––––– */

a{
	font-size: 16px;
	text-decoration: none;
	color: $brand-color;
	@include transicion;

	&:hover{
		color: $gray-dark;
	}
}


/* Botones
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {

	display: block;
	padding: 0.5rem 2rem;
	margin: 2rem;

	background-color: $brand-color;
	border: none;
	border-radius: 0.2rem;
	color: #ffffff;

	text-align: center;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;

	cursor: pointer;
	white-space: nowrap;
	user-select: none;
	-webkit-appearance: none;

	@include text-shadow;

	@include transicion;


	&:hover{
		color: #ffffff;
	}

	a{
		color: #ffffff;

		&:hover{
			color: #ffffff;
		}

	}


	&.primary{
		background-color: $brand-color-light;
		
		&:hover{
			color: $brand-color;
		}
	}


	&.secondary{
		background-color: $brand-color-secondary-light;
		
		&:hover{
			color: $brand-color-secondary;
		}
	}

	&.terciary{
		background-color: $gray-lighter;
		color: $gray-light;
		border: 1px solid $gray-light;
		text-shadow: none;

		
		&:hover{
			background-color: #ffffff;
			color: $gray-light;
		}
	}



}

