.wpcf7-form {
	div.cols3{
		float: left;
		width: 33.33%;
		padding: 0 5px;	
	}
	p{
		margin: 5px 0;
		color: #a9a9a9;
	}

	input[type="text"], 
	input[type="number"], 
	input[type="email"], 
	input[type="date"],
	textarea
	{
		background-color: $gray-lighter;
		border: 2px solid $gray-lighter;
		border-radius: 0;
		padding: 0 1rem;
		width: 100%;
		height: 3rem;

		font-size: 1.4rem;
		font-family: $font-family;
		font-weight: 100;
		line-height: 3rem;
		color: $gray-light;

		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    cursor: pointer;
	    //position: relative;
	

		&:focus{
			border-color: $brand-color;
		}
	}
	select{
		width: 100%;
		height: 3rem;
		line-height: 3rem;
	}
	select[name="tipo"]{
		text-transform: capitalize;

	}

	::-webkit-input-placeholder, 
	:-moz-placeholder,
	::-moz-placeholder ,
	:-ms-input-placeholder{
	   color: #a9a9a9;
	   font-style: italic;
	}
/*
	input[type="submit"]{
		border: none;
		box-shadow: none;
		background-color: $bg-primario;
		color: #ffffff;

		float: right;
		padding: 5px 2rem;
		//margin-top: 20px;
		border-radius: 2px;

		text-align: center;
		font-family: $font-family;
		font-size: 14px;
		font-weight: lighter;
		text-shadow: 1px 1px 2px #555555;

		cursor: pointer;
		@include transicion;


		&:hover{
			background-color: $color-primario;
		}

		&[disabled="disabled"]{
			opacity: .5;
			cursor: default;
		}
	}
*/
}

.wpcf7-response-output{
	color: #ffffff;


	&.wpcf7-validation-errors{
		border: none;
		border-left: 2px solid red;
	}

	&.wpcf7-mail-sent-ok{
		border: none;
		border-left: 2px solid green;
	}

}

