/* Imágenes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

img{
	width: auto;
	height: auto;
	max-width: 100%;
}


figure{
	img{
		width: 100%;
		height: auto;
	}
	figcaption{
		font-size: 12px;
		margin: 10px 0;
	}
}


/* Alineación
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.alignnone {
    margin: 0;
}


.aligncenter{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.alignright {
    float: right;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: -4rem; 
}



.alignleft {
    float: left;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-left: -4rem; 

}


/* Pie de foto
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.wp-caption {
	position: relative;

    //max-width: 90%; /* Image does not overflow the content area */
    text-align: center;


	&.alignnone {
	    margin: 0 auto;
	}

	&.alignright,
	&.alignleft {
	    margin-left: 2rem;
	    margin-right: 2rem;
	}

	&.alignleft {
	    margin-right: 2rem;
	}

	p.wp-caption-text {
		margin: 0;
	    font-size: 1.2rem;
	    line-height: 100%;
	    text-align: center;
	    font-weight: lighter;

		
	}

}


/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 768px) {
	.alignleft{
		margin-left: 0;
	}
	.alignright{
		margin-right: 0;
	}

}