/* Listas
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul { 
	list-style:none;
  
	//list-style: circle;
	//margin-left: 1rem; 

	li{
		position: relative;
		padding-left: 2rem;
		&::before{
			content: '';
			background-color: $brand-color;
			
			position: absolute;
			top: 1rem;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 5px;
		}
	}

}

ol { 
  list-style: decimal inside; 
}

ol, ul {
  margin-top: 0;
  padding-left: 0; 
}

ul ul, 
ul ol,
ol ol, 
ol ul { 
  margin: 1.5rem 0 1.5rem 3rem; 
  font-size: 90%; 
}

li {
  margin-bottom: 1rem; }


// Reseteamos estilo de todas las listas de los menus
nav{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			margin: 0;
			padding: 0;
			cursor: pointer;

			&::before{
				display: none;
			}
		}
	}

}
