
/* Tablas
–––––––––––––––––––––––––––––––––––––––––––––––––– */

table{
	width: 100%;
	margin: 3rem 0; 
	thead{
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid $border-color;
	}

	tbody{
		
		td{
			border-bottom: 1px solid $border-color;
			padding: 0.5rem 1rem;
			text-align: center;

			&.desde{
				font-weight: bold;
			}
		}

		td:last-child{
			border-right: none;
		}
		
		tr:hover td{
			background-color: #f5f5f5;
		}

	}
}