
/* General
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html{
	font-size: 62.5%; /* 62.5% = 10px como base para unidades REM */	
}

body{
	font-size: $font-size;
	line-height: $line-height;
	font-family: $font-family;
	color: $gray-light; 
	-webkit-font-smoothing: antialiased;
}



/* Tipografia
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6{ 
	font-weight: bold;
	color: $gray;
	text-align: center;
	margin-bottom: 2rem; 
}

h1 { 

}

h2 { 
	font-size: 5.3rem;
	line-height: 100%;
}

h3 { 
	font-size: 3.2rem;
	line-height: 120%;
	margin-bottom: 4rem; 

}

h4 { 
	font-size: 2.4rem;
	font-weight: 100;
	line-height: 200%;

	margin-bottom: 4rem;
}


h5 { 
	font-size: 1.6rem; 

}

p{
	margin-bottom: 3rem; 
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}


/* Blockquote // Citas
–––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote{
	margin: 4rem -5rem;

	p{
		font-size: 2.4rem; 
		line-height: 1.3;  
		letter-spacing: -.1rem; 
		font-weight: 300;
		text-align: center;

	}
}


/* Superíndice / Subíndice
–––––––––––––––––––––––––––––––––––––––––––––––––– */

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
   font-size: .8em;
}
sub { top: 0.4em; }


/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1024px) {
	blockquote{
		margin: 4rem 2rem;
		p{
			font-size: 1.8rem;
		}
	}

}

