
/* Logos
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.logo{
	margin-bottom: 0;
	width: 17.3rem;
	height: 6.8rem;
	float: left;

	a{
		display: block;
		width: 17.3rem;
		height: 6.8rem;
		background-image: url("images/logo.png");
		background-size: cover;
		background-repeat: no-repeat;
		text-indent: -9999px;
	}
}