
/* Menus
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Menu principal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

nav.mainNav{
	margin-top:1rem;
	text-align: right;
	float: right;	

	// Menu principal
	ul.menu > li{
		display: inline-block;
		vertical-align: top;
		margin: rem;
		
		border: 2px solid transparent;
		border-radius: 5px;

		@include transicion;

		a{
			display: block;
			color: #ffffff;
			font-weight: bold;
			padding: 1rem;
		}
	}

	ul.menu > li:hover, 
	ul.menu > li.current-menu-item, 
	ul.menu > li.current-menu-parent{
		border: 2px solid #ffffff;
	}


	// Submenu
	.menu-item-has-children{
		position: relative;
	}

	ul.sub-menu{
		display: none;
		@include centrado;
		top: 0;

		width: 90%;
		text-align: left;
		background-color: rgba(0,0,0,.8);
		padding: 0 1rem;
		margin-top: 2px;

		li{
			display: block;

			a{
				font-weight: normal;
				font-size: 1.4rem;
			}
		}
	}

	ul.sub-menu li a:hover, 
	ul.sub-menu li.current-menu-item a{
		color: $brand-color;
	}

	.menu-item-has-children:hover ul.sub-menu{
		display: block;

	}

	// Idioma

	ul.menu > li.lang-item{
		border: none;
		margin-top: 2px; 
		border-radius: 0;

		a{
			font-weight: normal;
			color: #888888;
			padding: 0 2px;
			margin-top: 1rem;

			@include transicion;
		}
	}

	ul.menu > li.lang-item:first-child a{
		border-left: 1px solid #888;
		padding-left: 5px;
	}

	ul.menu > li.lang-item:first-child a:hover{
		color: $brand-color;
	}
}

.mainTrigger{
	display: none;
}
